<div class="content-wrapper">
  <div class="text-center">
    <h1 style="padding:300px; color:navy;"><%= "Your Profile are alredy submited by you"%></h1>
    <br>
    <%= link_to 'Back ', root_path %>
  </div>
</div>
