<div class="content-wrapper">
  <table class="table ">
    <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">Gender</th>
        <th scope="col">HireDate</th>
        <th scope="col">Mobile </th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee|%>
        <tr>
          <th><%= employee.employee_id %></th>
          <th><%= employee.gender %></th>
          <th><%= employee.date_of_join %></th>
          <th><%= employee.mobile %></th>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
