<div class="content-wrapper ">
  <table class="table table-striped ">
    <thead style="color:navy;">
      <tr>
        <th scope="col">Department Id</th>
        <th scope="col">Department Name</th>
        <th scope="col">Employee Id</th>
      </tr>
    </thead>
    <% @departments.each do |department|%>
      <tr>
        <th><%= department.id %></th>
        <th><%= department.name%></th>
        <th><%= link_to   (department.employee_ids)%></th>
      </tr>
    <%end%>
  </table>
</div>
