<%= stylesheet_link_tag 'widget' %>
<div class="content-wrapper">
 <b class="loading">Saving</b>


<p>Click on the little doofy and it'll reset <br><small> and trigger the opposite event (3s delay)</small></p>
</div>


