<div class= "content-wrapper">
  <table class="table table-user-information">
    <thead>
      <th>Employee id</th>
      <th>Leave Type</th>
      <th>leave Unit</th>
      <th>reason</th>
      <th>Date start</th>
      <th>Date end</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr>
   
      </tr>
    </tbody>
  </table>
</div>
